[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "Polygeist_Hector"]
	path = Polygeist_Hector
	url = git@github.com:anniezfy/Polygeist_Hector.git
